h1{
    font-family: 'Roboto', sans-serif;
    background-color: #e2e2e2;
    padding: 6px;
}

.main-img{
    border: solid 4px black;
    border-radius: 50%;
}

.section-title{
    text-transform: capitalize;
}